body {
  padding-top: 54px;
  background-image: url("pattern.png");
}

nav.navbar {
  background: white;
}

.post {
  margin-bottom: 5em;
}

#blogs .posts {
  margin: 2em 0 0 2.5em;
}

#home > article {
  margin-top: 2em;
}

.post h1, .post h2, .post h3 , .post h4 , .post h5,
.page h1, .page h2, .page h3 , .page h4 , .page h5 {
  margin-top: 2em;
  margin-bottom: 1em;
}

/* Custom style for pages */
.post.butterfly img {
  width: 60%;
}
